*{
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
header h1 {
    text-align: center;
    width: 100%;
    padding: 200px 0;
    background-image: url('../imgs/headerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: bottom;
}



main {
    width: 100%;
    background: linear-gradient(to right, #4D60A3, #7F96FF, #4D60A3); 
}

.container {
    background-color: rgba(127, 150, 255, 0.6);
    color: #282D40;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.aboutMe {
    display: flex;
    padding: 0 60px;
    align-items: center;
    gap: 100px;
}

.aboutMe img {
    width: 250px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.aboutMe img:hover {
    transform: scale(1.1); 
    transition: all 0.5s ease;
}
/*  kép  */
.hide {
    display: none !important;
}
.nohide {
    display: block !important;
}

.aboutMe p {
    position: relative; 
    margin: 0;
    padding: 0 20px; 
    font-size: 16px;
    text-align: justify;
}

/*  csík  */
.aboutMe p::before, 
.aboutMe p::after {
    content: "";
    position: absolute;
    width: 4px; 
    height: 110%;
    background-color:#4060f1;
}

.aboutMe p::before {
    top: 0;
    left: -10px; 
    transform: rotate(30deg); 
}
.aboutMe p::after {
    top: 0;
    right: -10px;
    transform: rotate(30deg); 
}


/* célok */
.goals{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 100px;
}
.goals h2{
    text-align: center;
    align-self: center;
}

hr{
    background-color: rgb(214, 214, 214);
    height: 2px;
    border: 0;
}
/*  utazások  */
.tripsTitle{
    text-align: center;
    font-size: xx-large;
}
.trips h3{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.croatia{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 100px;
    gap: 100px;
}
.croatia p{
    align-self: center;
}
.blond{
    font-weight: bold;
}
.tripImgs{
    width: 350px;
    border-radius: 10px;
}
.trip{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 100px;
    gap: 100px;
}
.trip p{
    align-self: center;
}