*{
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
header h1 {
    text-align: center;
    width: 100%;
    padding: 200px 0;
    background-image: url('../imgs/headerbg.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: bottom;
}



main {
    width: 100%;
}


.container {
    background: linear-gradient(to right, #4D60A3, #7F96FF, #4D60A3); 
    padding: 20px;
}
.aboutMe-container{
    background-color: rgba(127, 150, 255, 0.6);
    border-radius: 10px;
    color: #282D40;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.aboutMe {
    display: flex;
    padding: 0 60px;
    align-items: center;
    gap: 100px;
}

.aboutMe img {
    width: 250px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    transition: all 0.5s ease;
}
.aboutMe img:hover {
    transform: scale(1.1); 
    transition: all 0.5s ease;
}
/*  kép  */
.hide {
    display: none !important;
}
.nohide {
    display: block !important;
}

.aboutMe p {
    position: relative; 
    margin: 0;
    padding: 0 20px; 
    font-size: 16px;
    text-align: justify;
}

/*  csík  */
.aboutMe p::before, 
.aboutMe p::after {
    content: "";
    position: absolute;
    width: 4px; 
    height: 110%;
    background-color:#4060f1;
}

.aboutMe p::before {
    top: 0;
    left: -10px; 
    transform: rotate(30deg); 
}
.aboutMe p::after {
    top: 0;
    right: -10px;
    transform: rotate(30deg); 
}


/* célok */
.goals{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 100px;
}
.goals h2{
    text-align: center;
    align-self: center;
}

hr{
    margin: 20px 0;
    background-color: rgb(214, 214, 214);
    height: 2px;
    border: 0;
}


/* slider */
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}
.slideshow-container h2{
    padding: 50px 0 10px 0;
    text-align: center;
    
}
  
/* Next, previous gomb */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  

.text {
    color: rgb(24, 0, 0);
    background-color: rgba(255, 255, 255, 0.582);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 54px;
    width: 1176px;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.fade img{
    border-radius: 5px;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* years */
.container-trips{
    background-color: #d5cdf7;
    padding: 15px;
    color: #404041;
}
.trips{
    width: 80%;
    display: grid;
    gap: 500px;
    align-content: center;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}

.trips h3{
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

.listing{
    align-self: center;
}
.listing ul{
    padding-left: 20px;
}

/* form */
.form{
    background-color: rgba(159, 176, 255, 0.63);
    padding: 50px 0 15px 0;
    width: 100%;
    margin: auto;
}
.form label{
    padding: 10px;
}

.form input{
    padding: 5px;
    margin: 5px;
}
.bg{
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(159, 177, 255, 0.233);
}
#contactForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.first{
    grid-column: 1;
    justify-self: end;
    align-self: center;
}
.second{
    grid-column: 2;
}


.form button{
    display: grid;
    padding: 5px;
    width: 10%;
    margin: 10px auto;
}